@import url('/static/cadastro.css');

.cabecalho {
    background-color: var(--fundo-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
} 


.img-logo {
    object-fit: contain;
    width: 70px;
    height: 70px;
}

.icones {
    width: 300px;
}

.font-icon {
    display: flex;
    justify-content: space-around;
}

.fa-solid {
    font-size: 30px;
    color: #f1f1f1;
}

.fa-solid:hover {
    cursor: pointer;
}

/* colunas */

.main {
    padding: 30px;
    user-select: none;
}

.header > h1 {
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.columns {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.column {
    width: 100%;
    background-color: #adb4c1;
    height: 100dvh;
    border-radius: 10px;
}

.column-title {
    color: #ffffff;
    font-family: var(--fonte-principal);
    font-size: 25px;
    font-weight: 500;
    margin: 20px;
}

.column_cards {
    padding: 4px;
    height: 100%;
    border-radius: 5px;
}

.card {
    width: 100%;
    min-height: 70px;
    background-color: #f1f1f1;
    border-radius: 5px;
    border-radius: 1px solid #dfe1e6;
    box-shadow: 0 2px 2px #dfe1e6;
    padding: 12px 14px;
    margin-bottom: 5px;
}

.card-desc {
    font-size: 15px;
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: var(--cor-fonte);
}

.column--highlight {
    background-color: #deebff;
    border: 2px solid #2482ff
}



