<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'cadastro.css')}}"> -->
    <link rel="stylesheet" href="../static/cadastro.css">
    
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro">
        <div class="logo">
            <figure>
                <img src="../static/img-esco/logo.png" alt="imagem logo">
            </figure>
            <div class="desc">
                <p class="desc_logo">"Organize, colabore e conquiste seus objetivos juntos!"</p>
            </div>
        </div>
       
        <div class="mensagem_erro">
            <!-- Exibe as mensagens de erro ou sucesso -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </div>
        
        <form action="/cadastrar" method="POST">
            <h2>Cadastro</h2>
            <div class="text">
                <label for="username">Nome Completo</label>
            <input type="text" name="username" id="username" required>
            </div>

            <div class="text">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="text">
                <label for="password">Senha</label>
                <input type="password" name="senha" id="password" required>
            </div>

            <div class="text">
                <label for="password">Confirme sua senha</label>
                <input type="password" name="conPassword" id="conPassword" required>
            </div>

            <button type="submit">Cadastrar</button>


            <div class="conta">
                <p class="c_conta">já tem uma conta?</p><a class="link_cadastro" href="../templates/index.html">faça seu login</a>
            </div>
        </form>
    </div>
</body>
</html>