<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'esqueci.css')}}"> -->
    <link rel="stylesheet" href="../static/esqueci.css">
    <title>Esqueci a Senha</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <figure>
                <img src="{{url_for('static', filename = 'img-esco/logo.png')}}" alt="Logo da aplicação">
            </figure>
            <div class="desc">
                <p class="desc_logo">"Organize, colabore e conquiste seus objetivos juntos!"</p>
            </div>
        </div>
        <div class="reset-form">
            <form action="/" method="POST">
                <h2>Esqueci a Senha</h2>
                <p>Insira seu endereço de e-mail para redefinir sua senha. Você receberá um link para criar uma nova.</p>
                <div class="text">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <button type="submit">Enviar</button>
                <div class="voltar">
                    <p><a href="{{url_for('home')}}">Voltar para o Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
